/*
Prácica5.CSS
Aquí podrás visualizar las reglas de CSS de muestra practica5.html llamada "Cajas flotantes" yeah!
*/

body{
   color:white;
}	

h1{
	color:black;
	text-align: center;
}

div{
	width: 200 px;
	height: 100 px;
	padding: 30 px;
	text-align: center;
	border-radius: 40 px
}

#cajaNegra{
	background-color: black;
	/*float: left;*/
	clear: both;
	width: 100%;
}

#cajaAzul{
	background-color: blue;
	float: right;
}

#cajaVerde{
	background-color: green;
	float: left;
}

#cajaRoja{
	background-color: red;
	/*float: right;*/
	clear:both;
	width: 100%;
}
